<a href="https://colab.research.google.com/github/selimsurucu/Pandas/blob/master/PandasFilter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas'ı import ediyoruz.

In [0]:
import pandas as pd

Dataframe oluşturuyoruz.

In [2]:
sehirler = pd.Series(["Istanbul","Tokyo","Atina","Berlin","Cape Town","Londra"])
nufuslar =pd.Series([3000000,5000000,500000,2000000,800000,5000000])
veridf = pd.DataFrame({"sehirler":sehirler,"nüfuslar":nufuslar})
print(veridf)

   nüfuslar   sehirler
0   3000000   Istanbul
1   5000000      Tokyo
2    500000      Atina
3   2000000     Berlin
4    800000  Cape Town
5   5000000     Londra

Filtre işlemleri ; belirlediğimiz/ istediğimiz dataları elde etmek için kullanılan bir yapıdır. Yani nüfusu 1000000'dan fazla olan şehirlerin getirilmesi gibi.

In [14]:
sonuc = veridf.nüfuslar>1000000
print(sonuc) #sonuc olarak bize bir seri döndü . 1000000'dan fazla olanlara true, az olanlara false yazdı.

0     True
1     True
2    False
3     True
4    False
5     True
Name: nüfuslar, dtype: bool

Peki bu sonucu yeni bir kolon olarak dataframemize ekleyelim.

In [6]:
veridf["buyukluk"]=sonuc
print(veridf)

   nüfuslar   sehirler  buyukluk
0   3000000   Istanbul      True
1   5000000      Tokyo      True
2    500000      Atina     False
3   2000000     Berlin      True
4    800000  Cape Town     False
5   5000000     Londra      True

Filtreleme işlemi yaptığımızda bize buyukluk kolonunda ki değerleri true olanları getirecek.

In [16]:
 filtre = veridf.nüfuslar>1000000
 print(veridf[filtre])

   nüfuslar  sehirler  buyukluk
0   3000000  Istanbul      True
1   5000000     Tokyo      True
3   2000000    Berlin      True
5   5000000    Londra      True

Şimdi de 5000000'dan daha az nüfusa sahip olanları listeleyelim.

In [15]:
filtre2 = veridf.nüfuslar<5000000
print(veridf[filtre2])

   nüfuslar   sehirler  buyukluk
0   3000000   Istanbul      True
2    500000      Atina      True
3   2000000     Berlin      True
4    800000  Cape Town      True

Şimdi de 1000000'dan büyük 5000000'dan küçükleri yazdıralım.

In [17]:
print(veridf[filtre&filtre2])

   nüfuslar  sehirler  buyukluk
0   3000000  Istanbul      True
3   2000000    Berlin      True

Herhangi bir şehri bulalım.

In [20]:
print(veridf[veridf.sehirler == "Istanbul"])

   nüfuslar  sehirler  buyukluk
0   3000000  Istanbul      True