<a href="https://colab.research.google.com/github/selimsurucu/Pandas/blob/master/PandasBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas kütühanesini import ediyoruz.

In [0]:
import pandas as pd

Pandas'ta çeşitli şekillerde dataframeler oluşturalabilir.


1.   Bir dosya yükleyerek (.csv uzantılı dosyalar gibi)
2.   Bir dictionary kullanarak
3.   Pandas kullanılarak (Series) oluşturulabilir.

Biz dataframemizi series kullanarak oluşturacağız.

In [0]:
isimSeries = pd.Series(["Selim","Ali","Veli","Fatma","Ayşe","Zeynep"])
notlarSeries = pd.Series([80,75,15,48,56,75])
okulNoSeries = pd.Series([100,101,102,103,104,105])

Oluşturduğumuz serieslardan bir tanesini yazdırıp, nasıl göründüğüne bakalım.

In [3]:
print(isimSeries)

0     Selim
1       Ali
2      Veli
3     Fatma
4      Ayşe
5    Zeynep
dtype: object

Artık serieslerimizi bir dataframe haline getirebiliriz.

In [4]:
bolumdf = pd.DataFrame({"Ogrenci Adı" : isimSeries, "Okul No" : okulNoSeries, "Notlar" : notlarSeries}) #bolumdf adında bir df oluşturduk.
print(bolumdf) #dataframe'in nasıl göründüğüne bakmak için yazdırıyoruz.

   Notlar Ogrenci Adı  Okul No
0      80       Selim      100
1      75         Ali      101
2      15        Veli      102
3      48       Fatma      103
4      56        Ayşe      104
5      75      Zeynep      105

dataframe de ilk 5 kayıtı yazdıralım.

In [5]:
print(bolumdf.head()) #head fonksiyonun default değeri 5'tir.

   Notlar Ogrenci Adı  Okul No
0      80       Selim      100
1      75         Ali      101
2      15        Veli      102
3      48       Fatma      103
4      56        Ayşe      104

Peki ilk 3 kayıtı yazdırmak istersek:

In [0]:
print(bolumdf.head(3))

   Notlar Ogrenci Adı  Okul No
0      80       Selim      100
1      75         Ali      101
2      15        Veli      102

Dataframe'de ki son 5 datayı yazdıralım.

In [0]:
print(bolumdf.tail()) #tail fonksiyonun default değeri 5'tir.

   Notlar Ogrenci Adı  Okul No
1      75         Ali      101
2      15        Veli      102
3      48       Fatma      103
4      56        Ayşe      104
5      75      Zeynep      105

Peki son 3 datayı yazdırmak istersek:

In [0]:
print(bolumdf.tail(3))

   Notlar Ogrenci Adı  Okul No
3      48       Fatma      103
4      56        Ayşe      104
5      75      Zeynep      105

Dataframe'de ki kolonların adını yazdıralım.

In [0]:
print(bolumdf.columns)

Index(['Notlar', 'Ogrenci Adı', 'Okul No'], dtype='object')

Dataframe' de ki bir kolondaki dataları yazdıralım.

In [0]:
print(bolumdf["Okul No"])

0    100
1    101
2    102
3    103
4    104
5    105
Name: Okul No, dtype: int64

Dataframe yeni bir özellik(kolon ekleyelim)

In [10]:
bolumdf["Soyisim"] = ["Sürücü","aa","bb","cc","dd","ee"]
print(bolumdf)

   Notlar Ogrenci Adı  Okul No Soyisim
0      80       Selim      100  Sürücü
1      75         Ali      101      aa
2      15        Veli      102      bb
3      48       Fatma      103      cc
4      56        Ayşe      104      dd
5      75      Zeynep      105      ee

Yeni eklediğimiz kolonu yazdıralım. Sadece Yeni eklediğimiz kolonu yazdıracağız.

In [0]:
print(bolumdf["Soyisim"])

0    Sürücü
1        aa
2        bb
3        cc
4        dd
5        ee
Name: Soyisim, dtype: object

DataFrame ile ilgili genel bilgiler elde etmek

In [0]:
print(bolumdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
Notlar         6 non-null int64
Ogrenci Adı    6 non-null object
Okul No        6 non-null int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes
None

Satır ve sütun sayılarını ögrenme :

In [8]:
print(bolumdf.shape) #ilki row(satır) sayısı , ikincisi columns(kolon) sayısıdır.

(6, 3)

info fonksiyonunu kullandığımızda birden fazla bilgi görünmektedir.
data sayısı, kolon sayısı gibi. Kolonların tipleri vs.
Sadece kolonları ve veri tiplerini öğrenmek istiyorsak :

In [0]:
print(bolumdf.dtypes)

Notlar          int64
Ogrenci Adı    object
Okul No         int64
dtype: object

**Not** : Pandasta string object türünde veri tipidir. Yukarıda bir yanlışlık yoktur.

Eğer sadece number (int) tipi kolonları yazdıralım. Kolonlara ek olarak da , o kolonlarla ilgili max, min, ortalaması(mean) gibi özellikleride verir.

In [0]:
print(bolumdf.describe())

          Notlar     Okul No
count   6.000000    6.000000
mean   58.166667  102.500000
std    24.555380    1.870829
min    15.000000  100.000000
25%    50.000000  101.250000
50%    65.500000  102.500000
75%    75.000000  103.750000
max    80.000000  105.000000

Eğer kolon ismimiz tek satırdan oluşuyorsa; yani arada boşluk yoksa ; elemanlarını gösterirken aşağıda ki gibi bir yol da izleyebiliriz.

In [15]:
print(bolumdf.Soyisim)
print("------------------------------")
print(bolumdf['Soyisim'])
print("-----------------------------------")
print(bolumdf.loc[:,"Soyisim"])

0    Sürücü
1        aa
2        bb
3        cc
4        dd
5        ee
Name: Soyisim, dtype: object
------------------------------
0    Sürücü
1        aa
2        bb
3        cc
4        dd
5        ee
Name: Soyisim, dtype: object
-----------------------------------
0    Sürücü
1        aa
2        bb
3        cc
4        dd
5        ee
Name: Soyisim, dtype: object

Peki çift indexli kayıtları gösterelim.

In [17]:
print(bolumdf.loc[::2,"Soyisim"]) #dikkat 2. parametre dahildir. Numpy da dahil değildi ama Pandas ta bu dahil

0    Sürücü
2        bb
4        dd
Name: Soyisim, dtype: object

Peki ögrenci adından soyisimine kadar yazdıralım; yani ilk kolonu yazdırmayacağız.

In [18]:
print(bolumdf.loc[:4,"Ogrenci Adı":"Soyisim"])

  Ogrenci Adı  Okul No Soyisim
0       Selim      100  Sürücü
1         Ali      101      aa
2        Veli      102      bb
3       Fatma      103      cc
4        Ayşe      104      dd

Peki öğrenci adı ve soyadını yazdıralım

In [20]:
print(bolumdf.loc[:, ["Ogrenci Adı","Soyisim"]])

  Ogrenci Adı Soyisim
0       Selim  Sürücü
1         Ali      aa
2        Veli      bb
3       Fatma      cc
4        Ayşe      dd
5      Zeynep      ee

Kolon adını bilmeden yazdıralım. Yani kolonu ismiyle değil de index numarası vasıtasıyla yazdıralım.

In [21]:
print(bolumdf.iloc[:,2])

0    100
1    101
2    102
3    103
4    104
5    105
Name: Okul No, dtype: int64