<a href="https://colab.research.google.com/github/selimsurucu/Pandas/blob/master/PandasCont.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandası import ediyoruz ve yeni dataframe oluşturalım

In [1]:
import pandas as pd
sehirler = pd.Series(["Ankara","İstanbul","Çankırı","Bursa","Karabük"])
plakaKodu = pd.Series([6,34,18,16,78])
nufuslar = pd.Series([3000000,15000000,300000,740000,400000])
sehirDf = pd.DataFrame({"sehirler":sehirler,"plakaKodu":plakaKodu,"nufus":nufuslar})
print(sehirDf)

      nufus  plakaKodu  sehirler
0   3000000          6    Ankara
1  15000000         34  İstanbul
2    300000         18   Çankırı
3    740000         16     Bursa
4    400000         78   Karabük

Bir kolondaki ortalama değeri bulalım. Biz burada Ortalama nüfusu bulacağız.

In [3]:
print(sehirDf.nufus.mean()) #Burada ki mean fonksiyonu Pandas fonksiyonudur.

3888000.0

Peki numpy kullanarak ortalama hesaplayalım. Ama önce Numpy ı import etmeliyiz. (Numpy hakkında bilgi daha önceki derslerde anlatılmıştır.)

In [0]:
import numpy as np

Peki Numpy da ortalama hesaplama

In [5]:
print(np.mean(sehirDf.nufus))

3888000.0

Şimdide ortalama göre sehirlerimizi sınıflandıralım. Ortalamanın üzerilerinde ki şehirleri yüksek, ortalamanın altındaki yerleri düşük ile yeni bir kolon ekleyelim.

In [7]:
sehirDf["nufusYogunlugu"] = [ "yüksek" if nufus > sehirDf.nufus.mean() else "düşük" for nufus in sehirDf.nufus]

#for nufus in sehirDf.nufus:
#  if(nufus > sehirDf.nufus.mean()):
#    print("yüksek")    
#   else :
#    print("düşük")

print(sehirDf)

      nufus  plakaKodu  sehirler nufusYogunlugu
0   3000000          6    Ankara          düşük
1  15000000         34  İstanbul         yüksek
2    300000         18   Çankırı          düşük
3    740000         16     Bursa          düşük
4    400000         78   Karabük          düşük

[ "yüksek" if nufus > sehirDf.nufus.mean() else "Düşük" for nufus in sehirDf.nufus] bu ifade List Comprehensive olarak geçmektedir. Dataframe ve listlerde çok işimize yarayan bir kullanımdır.

Bir kolonda ki alanları büyük ve küçük harfle yazdırmak : Ama önce fonksiyonları hatırlayalım.

In [11]:
isim = "Selim"
print(isim.upper())
print(isim.lower())

SELIM
selim

Bir kolona uygulayalım

In [15]:
sehirDf.nufusYogunlugu = [yogunluk.upper() for yogunluk in sehirDf.nufusYogunlugu]
print(sehirDf.nufusYogunlugu)
sehirDf.nufusYogunlugu = [yogunluk.lower() for yogunluk in sehirDf.nufusYogunlugu]
print(sehirDf.nufusYogunlugu)

0     DÜŞÜK
1    YÜKSEK
2     DÜŞÜK
3     DÜŞÜK
4     DÜŞÜK
Name: nufusYogunlugu, dtype: object
0     düşük
1    yüksek
2     düşük
3     düşük
4     düşük
Name: nufusYogunlugu, dtype: object

Dataframe de drop etme işlemi . Drop fonksiyonu kolon ya da satırı drop için kullanılabilir. drop fonksiyounda yer alan axis parametresi silinme işleminin yönünü belirler. axis = 1 y eksininde yani yukarıdan aşağıya silme işlemi yapar eğer axis = 0 girilirse bu x eksenin de satır işlemi demektir.

In [18]:
sehirDf.drop(["nufusYogunlugu"],axis=1)

      nufus  plakaKodu  sehirler
0   3000000          6    Ankara
1  15000000         34  İstanbul
2    300000         18   Çankırı
3    740000         16     Bursa
4    400000         78   Karabük

Drop işleminin cevabı bir dataframe'dir ve bu dataframe de nufusYogunlugu alanımız olmadığı görülmektedir.
Ama dataframemizi tekrar yazdırdırğımız da alanımızın tekrar durduğunu görürüz.

In [19]:
print(sehirDf)

      nufus  plakaKodu  sehirler nufusYogunlugu
0   3000000          6    Ankara          düşük
1  15000000         34  İstanbul         yüksek
2    300000         18   Çankırı          düşük
3    740000         16     Bursa          düşük
4    400000         78   Karabük          düşük

Eğer dataframemizden komple silinmesini istiyorsak, bunun için 3 . bir parametre girmemiz gerekmektedir.

In [0]:
sehirDf.drop(['nufusYogunlugu'],axis=1 , inplace = True)

peki tekrar yazdıralım.

In [23]:
print(sehirDf)

      nufus  plakaKodu  sehirler
0   3000000          6    Ankara
1  15000000         34  İstanbul
2    300000         18   Çankırı
3    740000         16     Bursa
4    400000         78   Karabük

Görüldüğü üzere kolonumuz dataframe'den de silinmiş oldu. Burada inplace = True ifadesi bunun dataframe den silineceğini belirtir.

Şimdide data ya da kolon eklemeyi görelim.

Bazen aynı kolonlara sahip dataframelerimiz olabilir. Örneğin internette aldığınız datalar bölge bölge bölünmüş olabilir. Aynı kolonlara sahiptir ama her bölgenin datası ayrı olabilir. Böyle bir durumda dataframelerin birleştirilmesi gerekir.

Şuan elimiz de bir dataframe var. biz bu dataframe i 2 ve 3 elamanlı iki adet dataframe olarak böleceğiz ve bunları yeni dataframe olarak tanımlayacağız.

In [26]:
ilkDf = sehirDf.head(2)
ikinciDf = sehirDf.tail(3)
print("Birinci DataFrame")
print("-------------------")
print(ilkDf)
print("İkinci DataFrame")
print("--------------------")
print(ikinciDf)

Birinci DataFrame
-------------------
      nufus  plakaKodu  sehirler
0   3000000          6    Ankara
1  15000000         34  İstanbul
İkinci DataFrame
--------------------
    nufus  plakaKodu sehirler
2  300000         18  Çankırı
3  740000         16    Bursa
4  400000         78  Karabük

Şuan elimizde iki farklı dataframe var. Şimdi bu dataframe in datalarını (satırlarını) birleştirelim

In [27]:
yeniDf = pd.concat([ilkDf,ikinciDf],axis = 0)
print(yeniDf)

      nufus  plakaKodu  sehirler
0   3000000          6    Ankara
1  15000000         34  İstanbul
2    300000         18   Çankırı
3    740000         16     Bursa
4    400000         78   Karabük

yeni oluşturduğumuz dataframe iki dataframe'in birleşimi şeklinde olduğunu gördük.

Şimdide kolonları ekleyelim. Yani yapacağımız işlem y ekseninde.

In [29]:
nufus = sehirDf.nufus
plaka = sehirDf.plakaKodu

yeni2Df = pd.concat([nufus,plaka],axis = 1)
print(yeni2Df)

      nufus  plakaKodu
0   3000000          6
1  15000000         34
2    300000         18
3    740000         16
4    400000         78